*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
body{
  background-color: lightgrey;
}
span{
  font-size: 20px;
  font-weight: 500;
}
.formClass form {
  left: 0;
  position: fixed;
  width: 230px;
  height: 100%;
  background: white;
  padding: 5px 10px;
  border-radius: 15px;
}
form .ddainput {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .ddainput .input-box {
  margin: 5px 0 5px 0;
  width: calc(100% / 2 - 5px);
}
.ddainput .input-box input {
  width: 100%;
  height: 20px;
  outline: none;
  border-radius: 5px;
  border: 2px solid pink;
}
form .btn {
  max-width: 100%;
  display: block;
}
form .btn input{
  width: 100%;
  background-color: pink;
  border-radius: 5px;
  border: none;
  padding: 3px;
  margin: 5px 0 5px 0;
}
canvas{
  border: 1px solid white;
  right: 0;
  height: 1080px;
  width: 1670px;
  border-radius: 15px;
  margin-left: 250px;
  background-color: aliceblue;
}